.dart_tool
.dart_tool/
build/
!build/web
!build/web/
.git
.git/
.DS_Store
*.log
.flutter-plugins*
.packages
.idea/
.vscode/
.metadata
*.iml
pubspec.lock
selenium_tests/venv/
selenium_tests/.pytest_cache/
selenium_tests/__pycache__/
selenium_tests/reports/
selenium_tests/pytestdebug.log
__pycache__/
*.pyc
.android/
.ios/
.ohos/
macos/
*.ipynb_checkpoints/
